.footer {
  background-color: rgb(10, 69, 88);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  height: 50px;
  width: 100%;
  left: 0 ;
  bottom: 0 !important;
  position: relative;
}
.copyRights {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
  font-size: 10px;
}
.contact p {
  color: rgb(222, 116, 17);
  margin-bottom: 0.3rem;
}
.contact span {
  color: rgb(255, 255, 255);
}
