:root {
  --main-color: #efefef;
  --white-color: #ffffff;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --light-gray-color: #dadada;
  --dark-color: #292b2c;
  --blue-color: #67a8cf;
  --dark-blue-color: #2c729e;
  --yellow-color: #f4c508;
  --orange-color: #e28822;
  --green-color: #35bc6d;
  --green-sea-color: #16a09b;
  --pumpkin-color: #e87121;
  --red-color: #d9534f;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}
a:active {
  color: inherit !important;
}
ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}
